node_modules
mythx.json
.env
.env.*
!.env.example
!.env.example.*
coverage
coverage.json
typechain

# Yarn files
yarn-error.log

#Hardhat files
cache
artifacts


.idea
tenderly.yaml
.vs/*
.DS_Store

.vscode

deployments
broadcast
